@inject NavigationManager Navigation;

@page "/"
@using distributedsystemsproject.Data;
@using distributedsystemsproject.Classes;

<div>
    <TopBannerCreateElement Update="UpdateView"/>

    <div class="bottom-banner" style="box-shadow: 3px 3px 10px #141a2d">
        @foreach(Data.TodoItem item in list)
        {
            <TodoItem Item="item"/>
        }
    </div>
</div>

@code {
    List<Data.TodoItem> list = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        UpdateView();
    }

    public async void UpdateView(int x = 0)
    {
        ApiHandler handler = new();
        list = await handler.GetElements();
        StateHasChanged();
    }
}