@inject NavigationManager Navigation;

@page "/"
@using distributedsystemsproject.Data;

<div>
    <TopBannerCreateElement/>

    <div class="bottom-banner">
        @foreach(Data.TodoItem item in list)
        {
            <TodoItem Item="item"/>
        }
    </div>
</div>

<button @onclick="UpdateSite">Redirect</button>


@code {
    private string Content { get; set; }
    List<Data.TodoItem> list = new();

    protected override async void OnInitialized()
    {
        base.OnInitialized();
        ApiHandler handler = new();
        list = await handler.GetElements();
        UpdateSiteContent();
    }


    private async void UpdateSiteContent()
    {
        this.StateHasChanged();
    }

    private void UpdateSite()
    {
        Navigation.NavigateTo("/todo/" + "hello");
    }
}